html {
  overflow-y: auto;
}

#loading,
.groupe-langages,
#liens_contact>#nav_contact {
  display: none;
}

.competence-background {
  transform: none;
}

.competence-texte {
  opacity: 1;
}

#photosecret {
  opacity: 1;
  background-image: url(/mon-portfolio/images/moi.jpg);
  background-position: center center;
}

.js-warning {
  position: absolute;
  width: 50%;
  left: 25%;
  z-index: 200;
  background-color: var(--article-color);
  padding: 1em;
}

#liens_contact>span>a {
  width: 1.7rem;
  height: 1.7rem;
  padding: 0.25rem;
  margin: 0.5rem;
  --social-color: black;
  --article-color: var(--social-color);
  background-color: var(--social-color);
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  transition: box-shadow .1s linear, background-color .1s ease-in;
  backface-visibility: hidden;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

#liens_contact>span>a.selected, #liens_contact>span>a.selected:hover, #liens_contact>span>a.selected:active {
  box-shadow: none;
  transition: none;
  background-color: transparent;
  cursor: auto;
}

#liens_contact>span>a.selected::before {
  background-color: transparent;
}

.projet-actual-image {
  background-position: center center;
  background-size: cover;
  background-image: var(--image);
}