html {
  overflow-y: auto;
}

html:has(body:not([data-projet-actuel=""])) {
  overflow-y: hidden;
}

#loading,
#liens_contact>#nav_contact {
  display: none;
}

.competence-background {
  transform: none;
}

.competence-texte {
  opacity: 1;
}

#photo {
  background-image: url(/mon-portfolio/images/moi.webp);
}


#photosecret {
  display: none;
}

.projet-actual-image {
  background-position: center center;
  background-size: cover;
  background-image: var(--image);
}

@media screen and (max-width: 620px) {
  body[data-section-actuelle=""] nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    place-self: center;
    top: 0;
    gap: 2.4rem;
  }

  body[data-section-actuelle=""] :is(#nav_bio, #nav_portfolio) {
    transform: none;
  }

  #photo {
    --angle: 0px;
  }
}