html {
  overflow-y: auto;
}

html:has(body:not([data-projet-actuel=""])) {
  overflow-y: hidden;
}

#nav_accueil {
  animation: none;
}

#loading,
#liens_contact>#nav_contact {
  display: none;
}

.competence-background {
  transform: none;
}

.competence-texte {
  opacity: 1;
}

#photo {
  background-image: url(/mon-portfolio/images/moi.webp);
}

#photosecret {
  display: none;
}

.projet-actual-image {
  background-position: center center;
  background-size: cover;
  background-image: var(--image);
}

@media screen and (max-width: 620px) {
  #photo {
    --angle: 0px;
  }
}