/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!! LAYOUT CONTACT !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

#contact {
  grid-template-columns: 1fr minmax(50%, 42rem) 1fr;
}

.info-contact {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

#source_mail {
  display: none;
}



/*
 * Mobile
 */

@media screen and (max-width: 620px) {
  #contact {
    width: 100%;
    grid-template-columns: 0 100% 0;
  }
}





/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!! FORMULAIRE !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

#contact>form {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  margin: 1.5rem auto 0;
  width: 35rem;
  max-width: 95%;
  position: relative;
}

input, textarea {
  width: 100%;
  padding: .5rem;
  font-size: 1em;
  font-family: inherit;
  border: none;
  border-radius: 0;
  box-shadow: none;
  transition: box-shadow .1s linear;
  box-sizing: border-box;
}

input:hover, textarea:hover {
  box-shadow: 0 0 0 2px white;
}

input:focus, textarea:focus {
  outline: 2px solid var(--article-color);
  box-shadow: 0 0 0 2px white;
  transition: none;
}

.input-grid {
  display: grid;
  width: 100%;
  grid-template-columns: 2.5rem auto 1fr 2.5rem;
  grid-row-gap: .5rem;
}

.input-grid>label {
  display: block;
  grid-row: 1 / 2;
  grid-column: 1 / 3;
}

.input-grid>.error-message {
  grid-row: 1 / 2;
  grid-column: 3 / 5;
}

.input-grid>input,
.input-grid>textarea {
  grid-row: 2 / 3;
  grid-column: 2 / 4;
}

.input-grid>.svg_error {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
}



/*
 * Erreur lors de l'envoi du mail
 */

.error>input, .error>textarea {
  background-color: hsl(0, 100%, 90%);
  animation: error_shake .2s;
}

@keyframes error_shake {
  0% { transform: translateX(0); }
  33% { transform: translateX(-0.5rem); }
  66% { transform: translateX(0.5rem); }
  100% { transform: translateX(0); }
}

#formulaire_contact>p:not(.button) {
  position: relative;
}

.svg_error {
  width: 1.5rem;
  height: 1.5rem;
  display: none;
  position: absolute;
  right: 0.3rem;
  top: .35rem; /* calcul dans backups/calculs-css-sans-js.txt */
}

.error>.svg_error {
  display: inline-block;
  animation: error_shake .2s;
}

.svg_error>svg {
  fill: black;
}



/*
 * Bouton d'envoi
 */

#contact p.button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#contact button {
  font-size: 1em;
  font-family: inherit;
  color: black;
  padding: 0.5rem;
  --couleur: white;
  background: var(--couleur);
  border: none;
  transition: box-shadow .1s linear;
  position: relative;
  cursor: pointer;
  min-width: 5rem;
}

#contact button>span {
  position: relative;
  z-index: 1;
}

#contact .button.error {
  animation: error_shake .2s;
}

#button-animation {
  display: none;
  position: absolute;
  background-color: transparent;
  z-index: 2;
  grid-template-columns: 1fr 1fr 1fr;
  overflow: hidden;
}

#button-animation-text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black  ;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 0;
}

.dot {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(5);
  transition: transform .2s ease-out;
  position: relative;
  z-index: 1;
}

.dot>.dottle {
  width: var(--dot-width);
  height: var(--dot-width);
  background-color: white;
  border-radius: 50%;
}



/*
 * PC pas large
 */

@media screen and (max-width: 1200px) {

  /* Bouton d'envoi */

  #contact button:hover, #contact button:active {
    box-shadow: none;
  }
}



/*
 * Mobile
 */

@media screen and (max-width: 620px) {
  #contact>form {
    width: 95%;
  }

  .input-grid {
    display: grid;
    width: 100%;
    grid-template-columns: 2.5% auto 1fr 2.5%;
  }
}