:root {
  /* Animation timing */
  --easing-standard: cubic-bezier(0.4, 0.0, 0.2, 1);
  --easing-decelerate: cubic-bezier(0.0, 0.0, 0.2, 1);
  --easing-accelerate: cubic-bezier(0.4, 0.0, 1, 1);

  /* Accueil */
  --accueil-primary-hue: 300;
  --accueil-accent-hue: 55; /*110;*/
  --accueil-bg-color: hsl(var(--accueil-primary-hue), 25%, 10%);
  --accueil-link-color: hsl(var(--accueil-accent-hue), 85%, 80%);
  --accueil-link-underline-color: hsl(var(--accueil-accent-hue), 100%, 80%, .25);

  /* Bio */
  --bio-primary-hue: 160;
  --bio-accent-hue: 55; /*285;*/
  --bio-bg-color: hsl(var(--bio-primary-hue), 25%, 10%);
  --bio-link-color: hsl(var(--bio-accent-hue), 85%, 80%);
  --bio-link-underline-color: hsl(var(--bio-accent-hue), 100%, 80%, .25);

  /* Projets */
  --projets-primary-hue: 230;
  --projets-accent-hue: 55; /*335;*/
  --projets-bg-color: hsl(var(--projets-primary-hue), 25%, 10%);
  --projets-link-color: hsl(var(--projets-accent-hue), 85%, 80%);
  --projets-link-underline-color: hsl(var(--projets-accent-hue), 100%, 80%, .25);

  /* Articles */
  --articles-primary-hue: 10;
  --articles-accent-hue: 55; /*145;*/
  --articles-bg-color: hsl(var(--articles-primary-hue), 25%, 10%);
  --articles-link-color: hsl(var(--articles-accent-hue), 85%, 80%);
  --articles-link-underline-color: hsl(var(--articles-accent-hue), 100%, 80%, .25);

  /* Contact */
  --contact-primary-hue: 0;
  --contact-accent-hue: 55; /*0;*/
  --contact-bg-color: hsl(var(--contact-primary-hue), 0%, 10%);
  --contact-link-color: hsl(var(--contact-accent-hue), 0%, 80%);
  --contact-link-underline-color: hsl(var(--contact-accent-hue), 0%, 80%, .25);

  /* Couleurs */
  --text-color: white;
  --link-hover-color: white;
}





/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!! ACCESSIBILITÉ !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

/* Enlève le fond bleu sur les éléments tappables */
* { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

/* Sélection de texte */
::-moz-selection,
::selection {
  color: black;
  background: white;
}
input::selection,
textarea::selection {
  color: white;
  background: black;
}

/* Éléments focusables */
*:focus {
  outline: 2px solid white;
}
*:active,
*:focus:not(:focus-visible) {
  outline: none;
}
*::moz-focus-inner {
  border: none;
}





/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!! TYPOGRAPHIE / POLICE FLUIDE !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('/_common/fonts/roboto/roboto-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/_common/fonts/roboto/roboto-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('/_common/fonts/roboto/roboto-v20-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/_common/fonts/roboto/roboto-v20-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  font-family: 'Roboto', system-ui, Helvetica, Arial, sans-serif;
  --min-font: 1.1; /* rem */
  --max-font: 1.2; /* rem */
  --min-screen: 60; /* 960px si 1rem = 16px */
  --max-screen: 80; /* 1280px si 1rem = 320px */
  font-size: calc(1rem * var(--min-font));
  --mod: 1.130;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
}

@media screen and (min-width: 60rem) {
  html {
    font-size: calc(1rem * var(--min-font) + (var(--max-font) - var(--min-font)) * ((100vw - 1rem * var(--min-screen)) / (var(--max-screen) - var(--min-screen))));
    --mod: 1.333;
  }
}

@media screen and (min-width: 80rem) {
  html {
    font-size: calc(1rem * var(--max-font));
    --mod: 1.333;
  }
}

@media screen and (min-width: 125rem) {
  html {
    font-size: calc(0.2rem + 1.8vh);
  }
}



/* Titres et tailles de texte */

h1, h2, h3, h4, h5, h6 {
  display: inline;
  margin: 0;
  font-weight: 400;
}

h1, .h1 {
  font-size: calc(var(--mod) * var(--mod) * var(--mod) * var(--mod) * 1rem);
}

h2, .h2 {
  font-size: calc(var(--mod) * var(--mod) * var(--mod) * 1rem);
}

h3, .h3 {
  font-size: calc(var(--mod) * var(--mod) * 1rem);
}

h4, .h4 {
  font-size: calc(var(--mod) * 1rem);
}

.h5 {
  font-size: 1rem;
}

.h6 {
  font-size: calc(1rem / var(--mod));
}

.h5 {
  line-height: 1.6em;
}



/* Texte arc-en-ciel */

.rainbow-text,
strong {
  font-weight: 600;
  color: hsl(300, 25%, 85%);
}

@supports (background-clip: text) or (-webkit-background-clip: text) {
  .rainbow-text,
  strong {
    --band-number: 6;
    --gradient: repeating-linear-gradient(to right,
      hsl(0, 100%, 90%) 0,
      hsl(39, 100%, 90%) calc(1 * 100% / var(--band-number)),
      hsl(60, 100%, 90%) calc(2 * 100% / var(--band-number)),
      hsl(120, 100%, 90%) calc(3 * 100% / var(--band-number)),
      hsl(240, 100%, 90%) calc(4 * 100% / var(--band-number)),
      hsl(300, 100%, 90%) calc(5 * 100% / var(--band-number)),
      hsl(0, 100%, 90%) calc(6 * 100% / var(--band-number))
    );

    background-image: var(--gradient);
    background-size: calc(var(--band-number) * 50%) 100%;
    background-position: 0 0;
    background-repeat: repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow-text-animation 40s linear infinite;
  }
}

@keyframes rainbow-text-animation {
  0% { background-position: 0 0; }
  100% { background-position: calc(100% * var(--band-number)) 0; }
}



/* Boutons */

button {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  font: inherit;
  line-height: inherit;
  text-transform: none;
  -webkit-appearance: button;
}



/* Liens */

a,
.bouton-langage,
.lien-nav {
  padding: .25em 1px;
  font-weight: 500;
  text-decoration: none;
  color: var(--link-color);
  border-bottom: 1px solid var(--link-underline-color);
  transition: all .2s var(--easing-standard);
}

.bouton-langage:hover,
.lien-nav:hover {
  color: white;
  border-bottom-color: var(--color, var(--link-color));
}





/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!! LAYOUT GLOBAL !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;

  --full-bleed-width: 117rem;
  --partial-bleed-width: 60rem;
  --text-zone-width: 70ch;
  --full-bleed-column: calc(0.5 * var(--full-bleed-width) - 0.5 * var(--partial-bleed-width));
  --partial-bleed-column: calc(0.5 * var(--partial-bleed-width) - 0.5 * var(--text-zone-width));
}

.full-bleed {
  grid-column: full-bleed-start / full-bleed-end;
}

.partial-bleed {
  grid-column: partial-bleed-start / partial-bleed-end;
}

.text-zone {
  grid-column: text-zone-start / text-zone-end;
}

body[data-section="accueil"] {
  --primary-hue: var(--accueil-primary-hue);
  /*--bg-color: var(--accueil-bg-color);
  --link-color: var(--accueil-link-color);
  --link-underline-color: var(--accueil-link-underline-color);*/
}

body[data-section="bio"] {
  --primary-hue: var(--bio-primary-hue);
  /*--bg-color: var(--bio-bg-color);
  --link-color: var(--bio-link-color);
  --link-underline-color: var(--bio-link-underline-color);*/
}

body[data-section="projets"] {
  --primary-hue: var(--projets-primary-hue);
  /*--bg-color: var(--projets-bg-color);
  --link-color: var(--projets-link-color);
  --link-underline-color: var(--projets-link-underline-color);*/
}

body[data-section="articles"] {
  --primary-hue: var(--articles-primary-hue);
  /*--bg-color: var(--articles-bg-color);
  --link-color: var(--articles-link-color);
  --link-underline-color: var(--articles-link-underline-color);*/
}

body[data-section="contact"] {
  --primary-hue: var(--contact-primary-hue);
  --bg-color: var(--contact-bg-color);
  --link-color: var(--contact-link-color);
  --link-underline-color: var(--contact-link-underline-color);
}

body {
  --accent-hue: calc(var(--primary-hue) + 180);
  --bg-color: hsl(var(--primary-hue), 25%, 10%);
  --link-color: hsl(var(--accent-hue), 50%, 80%);
  --link-underline-color: hsl(var(--accent-hue), 100%, 80%, .25);

  width: 100%;
  min-height: 100%;
  --max-width: 117rem;
  max-width: var(--max-width);

  margin: 0 auto;
  padding: 0;
  position: relative;

  overflow-x: hidden;
  overflow-y: hidden;

  font-weight: 400;
  color: var(--text-color);

  display: grid;
  grid-template-rows: 3rem 1fr 2.5rem;
  grid-template-columns: 1fr [full-bleed-start] min(100%, 117rem) [full-bleed-end] 1fr;

  background-color: var(--bg-color);
}

header,
main,
footer {
  grid-column: full-bleed-start / full-bleed-end;
  display: grid;
  grid-template-columns: 
    [full-bleed-start] 1fr
    [partial-bleed-start] calc(0.5 * var(--partial-bleed-width) - 0.5 * var(--text-zone-width))
    [text-zone-start] var(--text-zone-width) [text-zone-end]
    calc(0.5 * var(--partial-bleed-width) - 0.5 * var(--text-zone-width)) [partial-bleed-end]
    1fr [full-bleed-end];
  z-index: 2;
}

@media (max-width: 60rem) {
  header,
  main,
  footer {
    grid-template-columns: 
      [full-bleed-start] 1.2rem [partial-bleed-start] 1fr
      [text-zone-start] min(calc(100% - 2.4rem), var(--text-zone-width)) [text-zone-end]
      1fr [partial-bleed-end] 1.2rem [full-bleed-end];
  }
}

header {
  grid-row: 1;
  grid-column: full-bleed-start / full-bleed-end;
}

main {
  grid-row: 2;
  grid-column: full-bleed-start / full-bleed-end;
  padding: 1.2rem;
}

footer {
  grid-row: 3;
  grid-column: full-bleed-start / full-bleed-end;
  padding-top: .4rem;
  font-size: .72rem;
}



/* Transition colorée animée entre sections */

#couleur {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transform-origin: top right;
  transform: scaleX(0);
  z-index: 1;
}





/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!! HEADER !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

nav {
  grid-column: partial-bleed-start / partial-bleed-end;
  grid-row: 1;
  justify-self: start;
  align-self: center;
  display: flex;
  margin: auto 0;
  font-size: .85rem;
}

.logo {
  font-size: 1.5rem;
  border-bottom: none;
  margin-left: 0;
}

.logo>strong::before {
  content: "remiscan.fr";
}

@media (max-width: 35rem) {
  .logo>strong::before {
    content: "remi";
  }
}

nav>.lien-nav,
.social-link,
.options>.lien-nav {
  padding-top: 0;
  margin: auto 0;
}

nav,
.socials,
.options {
  gap: 1.65em;
}





/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!! FOOTER !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.bottom-links {
  grid-column: partial-bleed-start / partial-bleed-end;
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr auto;
}

.social-link,
.options>.lien-nav {
  margin: auto 0;
}

.socials {
  grid-column: 1;
  justify-self: start;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
}

.social-link {
  display: inline-grid;
  align-items: center;
  grid-template-columns: 2.5ch auto;
  gap: .75ch;
}

.social-link:hover>svg {
  fill: var(--link-color);
}

@media (max-width: 40rem) {
  .social-link {
    gap: 0;
    padding-left: .3rem;
    padding-right: .3rem;
  }
  .social-name {
    display: none;
  }
}

.options {
  grid-column: 2;
  justify-self: end;
  align-self: center;
  display: flex;
}

.bouton-langage:disabled {
  opacity: .5;
  filter: grayscale(1);
  pointer-events: none;
  --link-underline-color: transparent;
}





/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!! LAZY LOADING !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

@keyframes background-loading {
  0% { background-color: rgba(0, 0, 0, .3); }
  50% { background-color: rgba(0, 0, 0, .3); }
  75% { background-color: rgba(0, 0, 0, .2); }
  100% { background-color: rgba(0, 0, 0, .3); }
}

.loading {
  animation: background-loading 2s ease-out calc(0.5s + (var(--n, 0) - var(--nmax, 0)) * 0.1s) infinite;
}

.loaded {
  animation: none;
}

.loaded .actual-image {
  background-image: var(--image);
  box-shadow: inset 0 0 0 .5px rgba(0, 0, 0, .1);
}