:root.dark {
  /* Page accueil */
  --accueil-primary-hue: 300;
  --accueil-accent-hue: 120;
  --accueil-bg-color: hsl(300, 25%, 10%);
  --accueil-link-color: hsl(120, 50%, 80%);
  --accueil-link-underline-color: hsl(120, 50%, 80%, 0.25);
  --accueil-link-bright-color: hsl(120, 61%, 75%);
  --accueil-secondary-text-color: hsl(300, 25%, 70%);

  /* Page bio */
  --bio-primary-hue: 160;
  --bio-accent-hue: 340;
  --bio-bg-color: hsl(157, 43%, 7%);
  --bio-link-color: hsl(340, 91%, 89%);
  --bio-link-underline-color: hsl(340, 89%, 89%, 0.25);
  --bio-link-bright-color: hsl(338, 100%, 88%);
  --bio-secondary-text-color: hsl(160, 21%, 62%);

  /* Page projets */
  --projets-primary-hue: 230;
  --projets-accent-hue: 50;
  --projets-bg-color: hsl(230, 27%, 11%);
  --projets-link-color: hsl(49, 48%, 79%);
  --projets-link-underline-color: hsl(49, 48%, 79%, 0.25);
  --projets-link-bright-color: hsl(50, 56%, 73%);
  --projets-secondary-text-color: hsl(230, 29%, 72%);

  /* Page articles */
  --articles-primary-hue: 10;
  --articles-accent-hue: 190;
  --articles-bg-color: hsl(9, 25%, 10%);
  --articles-link-color: hsl(191, 56%, 82%);
  --articles-link-underline-color: hsl(192, 56%, 82%, 0.25);
  --articles-link-bright-color: hsl(191, 65%, 77%);
  --articles-secondary-text-color: hsl(11, 26%, 69%);

  /* Page contact */
  --contact-primary-hue: 0;
  --contact-accent-hue: 180;
  --contact-bg-color: hsl(0, 0%, 10%);
  --contact-link-color: hsl(0, 0%, 85%);
  --contact-link-underline-color: hsl(0, 0%, 85%, 0.25);
  --contact-link-bright-color: hsl(0, 0%, 83%);
  --contact-secondary-text-color: hsl(0, 0%, 67%);

}
:root.light {
  /* Page accueil */
  --accueil-primary-hue: 300;
  --accueil-accent-hue: 120;
  --accueil-bg-color: hsl(300, 50%, 94%);
  --accueil-link-color: hsl(120, 100%, 10%);
  --accueil-link-underline-color: hsl(120, 100%, 9%, 0.25);
  --accueil-link-bright-color: hsl(118, 100%, 10%);
  --accueil-secondary-text-color: hsl(300, 25%, 30%);

  /* Page bio */
  --bio-primary-hue: 160;
  --bio-accent-hue: 340;
  --bio-bg-color: hsl(160, 33%, 91%);
  --bio-link-color: hsl(340, 56%, 18%);
  --bio-link-underline-color: hsl(340, 56%, 18%, 0.25);
  --bio-link-bright-color: hsl(341, 79%, 19%);
  --bio-secondary-text-color: hsl(159, 35%, 23%);

  /* Page projets */
  --projets-primary-hue: 230;
  --projets-accent-hue: 50;
  --projets-bg-color: hsl(229, 50%, 94%);
  --projets-link-color: hsl(50, 100%, 9%);
  --projets-link-underline-color: hsl(50, 100%, 9%, 0.25);
  --projets-link-bright-color: hsl(51, 100%, 10%);
  --projets-secondary-text-color: hsl(230, 25%, 32%);

  /* Page articles */
  --articles-primary-hue: 10;
  --articles-accent-hue: 190;
  --articles-bg-color: hsl(11, 50%, 94%);
  --articles-link-color: hsl(190, 91%, 11%);
  --articles-link-underline-color: hsl(191, 89%, 11%, 0.25);
  --articles-link-bright-color: hsl(190, 100%, 12%);
  --articles-secondary-text-color: hsl(11, 25%, 30%);

  /* Page contact */
  --contact-primary-hue: 0;
  --contact-accent-hue: 180;
  --contact-bg-color: hsl(0, 0%, 93%);
  --contact-link-color: hsl(0, 0%, 15%);
  --contact-link-underline-color: hsl(0, 0%, 15%, 0.25);
  --contact-link-bright-color: hsl(0, 0%, 17%);
  --contact-secondary-text-color: hsl(180, 0%, 28%);

}

/* Page accueil */
body[data-section="accueil"] {
  --primary-hue: var(--accueil-primary-hue);
  --accent-hue: var(--accueil-accent-hue);
  --bg-color: var(--accueil-bg-color);
  --link-color: var(--accueil-link-color);
  --link-underline-color: var(--accueil-link-underline-color);
  --link-bright-color: var(--accueil-link-bright-color);
  --secondary-text-color: var(--accueil-secondary-text-color);
}

/* Page bio */
body[data-section="bio"] {
  --primary-hue: var(--bio-primary-hue);
  --accent-hue: var(--bio-accent-hue);
  --bg-color: var(--bio-bg-color);
  --link-color: var(--bio-link-color);
  --link-underline-color: var(--bio-link-underline-color);
  --link-bright-color: var(--bio-link-bright-color);
  --secondary-text-color: var(--bio-secondary-text-color);
}

/* Page projets */
body[data-section="projets"] {
  --primary-hue: var(--projets-primary-hue);
  --accent-hue: var(--projets-accent-hue);
  --bg-color: var(--projets-bg-color);
  --link-color: var(--projets-link-color);
  --link-underline-color: var(--projets-link-underline-color);
  --link-bright-color: var(--projets-link-bright-color);
  --secondary-text-color: var(--projets-secondary-text-color);
}

/* Page articles */
body[data-section="articles"] {
  --primary-hue: var(--articles-primary-hue);
  --accent-hue: var(--articles-accent-hue);
  --bg-color: var(--articles-bg-color);
  --link-color: var(--articles-link-color);
  --link-underline-color: var(--articles-link-underline-color);
  --link-bright-color: var(--articles-link-bright-color);
  --secondary-text-color: var(--articles-secondary-text-color);
}

/* Page contact */
body[data-section="contact"] {
  --primary-hue: var(--contact-primary-hue);
  --accent-hue: var(--contact-accent-hue);
  --bg-color: var(--contact-bg-color);
  --link-color: var(--contact-link-color);
  --link-underline-color: var(--contact-link-underline-color);
  --link-bright-color: var(--contact-link-bright-color);
  --secondary-text-color: var(--contact-secondary-text-color);
}

